{% extends 'hospital/homebase.html' %}


{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Greetings, Esteemed Doctor</h1>
  <p class="lead">Welcome to cL's Hospital.</p>
  <hr class="my-4">
  <p>Step into a realm of efficiency and precision as you embark on your journey with our advanced management system. Unleash a multitude of features tailored to elevate your medical practice after completing your Login/SignUp.</p>
  <br><br>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/doctorsignup" role="button">Apply</a>
    <a class="btn btn-primary btn-lg" href="/doctorlogin" role="button">Login</a>
  </p>
</div>

{% endblock content %}
