{% extends 'hospital/homebase.html' %}

{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Hello, Valued Patient</h1>
  <p class="lead">Welcome to cL's Hospital.</p>
  <hr class="my-4">
  <p>Embark on a personalized healthcare journey with us. Your gateway to enhanced medical experiences awaits – simply unlock a host of features tailored to your needs by completing your Login/SignUp.</p>
  <br><br>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/patientsignup" role="button">Register Your Account</a>
    <a class="btn btn-primary btn-lg" href="/patientlogin" role="button">Login</a>
  </p>
</div>

{% endblock content %}
